<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.rit.se.bridgit.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.rit.se.bridgit.edit.perspectives.EditPerspective"
            fixed="true"
            id="edu.rit.se.bridgit.edit.perspectives.editPerspective"
            name="Edit Perspective">
      </perspective>
      <perspective
            class="edu.rit.se.bridgit.execution.perspectives.ExecutionPerspective"
            fixed="true"
            id="edu.rit.se.bridgit.execution.perspectives.executionPerspective"
            name="Execution Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="BridgIt.application"
            name="BridgIt">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
         		name="preferenceCustomization"
         		value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.rit.se.bridgit.edit.views.ScopeView"
            id="edu.rit.se.bridgit.edit.views.objectsView"
            name="Objects in Scope"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.rit.se.bridgit.views.WorldView"
            id="edu.rit.se.bridgit.views.worldView"
            name="World"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.rit.se.bridgit.edit.views.CodeView"
            id="edu.rit.se.bridgit.edit.views.codeView"
            name="Code"
            restorable="true">
      </view>
      <view
            class="edu.rit.se.bridgit.edit.views.TypesView"
            id="edu.rit.se.bridgit.edit.views.typesView"
            name="Object Types"
            restorable="true">
      </view>
      <view
            class="edu.rit.se.bridgit.execution.views.Console"
            id="edu.rit.se.bridgit.execution.views.Console"
            name="Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.rit.se.bridgit.edit.editors.ProgramEditor"
            default="true"
            id="edu.rit.se.bridgit.edit.editors.programeditor"
            name="ProgramEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.rit.se.bridgit.edit.perspectives.editPerspective">
         <view
               closeable="false"
               id="edu.rit.se.bridgit.edit.views.typesView"
               minimized="false"
               moveable="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.rit.se.bridgit.views.worldView"
               minimized="false"
               moveable="false"
               ratio="0.60f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.rit.se.bridgit.edit.views.objectsView"
               minimized="false"
               moveable="false"
               ratio="0.30f"
               relationship="left"
               relative="edu.rit.se.bridgit.views.worldView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="edu.rit.se.bridgit.execution.perspectives.executionPerspective">
         <view
               closeable="false"
               id="edu.rit.se.bridgit.views.worldView"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.rit.se.bridgit.execution.views.Console"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="edu.rit.se.bridgit.views.worldView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="edu.rit.se.bridgit.commands.exit"
                  helpContextId="edu.rit.se.bridgit.commands.ExitHandler"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application.">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="edu.rit.se.bridgit.toolbars.mainToolbar">
            <command
                  commandId="edu.rit.se.bridgit.commands.play"
                  icon="icons/play.gif"
                  label="Play"
                  style="push"
                  tooltip="Play&apos;s the scene.">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.rit.se.bridgit.commands.ExitHandler"
            id="edu.rit.se.bridgit.commands.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="edu.rit.se.bridgit.commands.PlayHandler"
            id="edu.rit.se.bridgit.commands.play"
            name="Play">
      </command>
      <command
            defaultHandler="edu.rit.se.bridgit.commands.FocusScopeObjectsViewHandler"
            id="edu.rit.se.bridgit.commands.focusScopeObjectsView"
            name="Focus Scope Objects View">
      </command>
      <command
            defaultHandler="edu.rit.se.bridgit.commands.FocusWorldViewHandler"
            id="edu.rit.se.bridgit.commands.focusWorldView"
            name="Focus World View">
      </command>
      <command
            defaultHandler="edu.rit.se.bridgit.commands.FocusEditorHandler"
            id="edu.rit.se.bridgit.commands.focusEditor"
            name="Focus Editor">
      </command>
      <command
            defaultHandler="edu.rit.se.bridgit.commands.FocusTypesViewHandler"
            id="edu.rit.se.bridgit.commands.focusTypesView"
            name="Focus Types View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.rit.se.bridgit.commands.play"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="edu.rit.se.bridgit.bindings.BridgitBindings"
            sequence="M1+M2+ENTER">
      </key>
      <key
            commandId="edu.rit.se.bridgit.commands.focusScopeObjectsView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="edu.rit.se.bridgit.bindings.BridgitBindings"
            sequence="M1+M2+A">
      </key>
      <key
            commandId="edu.rit.se.bridgit.commands.focusTypesView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="edu.rit.se.bridgit.bindings.BridgitBindings"
            sequence="M1+M2+S">
      </key>
      <key
            commandId="edu.rit.se.bridgit.commands.focusWorldView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="edu.rit.se.bridgit.bindings.BridgitBindings"
            sequence="M1+M2+W">
      </key>
      <key
            commandId="edu.rit.se.bridgit.commands.focusEditor"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="edu.rit.se.bridgit.bindings.BridgitBindings"
            sequence="M1+M2+D">
      </key>
      <scheme
            id="edu.rit.se.bridgit.bindings.BridgitBindings"
            name="BridgitBindings">
      </scheme>
   </extension>

</plugin>
