<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.rit.se.bridgit.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.rit.se.bridgit.edit.perspectives.EditPerspective"
            fixed="true"
            id="edu.rit.se.bridgit.edit.perspectives.editPerspective"
            name="Edit Perspective">
      </perspective>
      <perspective
            class="edu.rit.se.bridgit.execution.perspectives.ExecutionPerspective"
            fixed="true"
            id="edu.rit.se.bridgit.execution.perspectives.executionPerspective"
            name="Execution Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="BridgIt.application"
            name="BridgIt">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="edu.rit.se.bridgit.edit.views.ObjectsView"
            id="edu.rit.se.bridgit.edit.views.objectsView"
            name="Created Objects"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.rit.se.bridgit.edit.views.WorldView"
            id="edu.rit.se.bridgit.edit.views.worldView"
            name="World"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="edu.rit.se.bridgit.edit.views.CodeView"
            id="edu.rit.se.bridgit.edit.views.codeView"
            name="Code"
            restorable="true">
      </view>
      <view
            class="edu.rit.se.bridgit.edit.views.TypesView"
            id="edu.rit.se.bridgit.edit.views.typesView"
            name="Object Types"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.rit.se.bridgit.edit.perspectives.editPerspective">
         <view
               closeable="false"
               id="edu.rit.se.bridgit.edit.views.objectsView"
               minimized="false"
               moveable="false"
               ratio="0.250f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.rit.se.bridgit.edit.views.typesView"
               minimized="false"
               moveable="false"
               ratio="0.25f"
               relationship="right"
               relative="edu.rit.se.bridgit.edit.views.objectsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.rit.se.bridgit.edit.views.worldView"
               minimized="false"
               moveable="false"
               ratio="0.70f"
               relationship="top"
               relative="edu.rit.se.bridgit.edit.views.typesView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="edu.rit.se.bridgit.edit.views.codeView"
               minimized="false"
               moveable="false"
               ratio="0.5f"
               relationship="right"
               relative="edu.rit.se.bridgit.edit.views.worldView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="edu.rit.se.bridgit.execution.perspectives.executionPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="edu.rit.se.bridgit.commands.exit"
                  helpContextId="edu.rit.se.bridgit.commands.ExitHandler"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application.">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.rit.se.bridgit.commands.ExitHandler"
            id="edu.rit.se.bridgit.commands.exit"
            name="Exit">
      </command>
   </extension>

</plugin>
